<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MQTT Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>MQTT Data</h1>
    <div id="mqtt_graph"></div>
    <div id="top_size_graph"></div>
    <div id="top_transfers_graph"></div>
    <script>
        $(document).ready(function () {
            function fetchData() {
                $.ajax({
                    url: '/get_data',
                    type: 'GET',
                    success: function (response) {
                    }
                });
            }

            fetchData();
            setInterval(fetchData, 1000);
        });
    </script>
</body>

</html>